<button ng-click="newForm()">New Form</button>
<br />
<table style="border: 1px solid gray;">
    <caption>Todo list.</caption>
    <thead>
    <tr>
            <th></th>
            <th></th>
            <th></th>
            <th><input type="text" ng-model="search" class="form-control" placeholder="Search"></th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>City</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in todos | searchFilter:search:settings.searchFilterColumn">
            <td>{{ row.country}}</td>
            <td>{{ row.code}}</td>
            <td>{{ row.city}}</td>
            <td>
                <a href="" ng-click="deleteItem(row.country)">Delete</a> 
                <a href="" ng-click="editItem(row.country)">Edit</a> 
                <a href="" ng-click="detailItem(row.country)">Detail</a> 
            </td>
        </tr>
         <div data-pagination="" data-num-pages="numPages()" 
      data-current-page="currentPage" data-max-size="maxSize"  
      data-boundary-links="true"></div>
    </tbody>
</table>
<br /><hr >
<div ng-show="addArea">
    <p><b>Todo Input</b></p>
     <form >
         <input ng-model="todo.country" placeholder="Country name">
         <span class="form-error">{{ vMessage.country }}</span><br /><br />
         <input ng-model="todo.code" placeholder="Country code">
         <span class="form-error">{{ vMessage.code }}</span><br /><br />
         <input ng-model="todo.city" placeholder="City name">
         <span class="form-error">{{ vMessage.city }}</span><br /><br />
         <button ng-show="save" ng-click="addItem(todo)">Save</button>
         <button ng-show="edit" ng-click="updateItem(todo, todo.country)">Edit</button>
     </form>
</div>
<div ng-show="details">
    <p><h3>Detail of Todo</h3></p>
    <p><b>Country </b>  :{{ todoDetail.country }}</p>
    <p><b>Code </b> : {{ todoDetail.code }}</p>
    <p><b>City </b> :{{ todoDetail.city }}</p>
</div>